################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharpTipsAndTricks1/.vs/CSharpTipsAndTricks1
/CSharpTipsAndTricks1/CSharpTipsAndTricks.DebuggerDisplayAttribute/bin/Debug/net8.0
/CSharpTipsAndTricks1/CSharpTipsAndTricks.DebuggerDisplayAttribute/obj
/CSharpTipsAndTricks1/CSharpTipsAndTricks1.ExpressionBodyConstructors/bin/Debug/net8.0
/CSharpTipsAndTricks1/CSharpTipsAndTricks1.ExpressionBodyConstructors/obj
/CSharpTipsAndTricks1/CSharpTipsAndTricks1.Logic/bin/Debug/net8.0
/CSharpTipsAndTricks1/CSharpTipsAndTricks1.Logic/obj
/CSharpTipsAndTricks1/CSharpTipsAndTricks1.MergingIfStatements/bin/Debug/net8.0
/CSharpTipsAndTricks1/CSharpTipsAndTricks1.MergingIfStatements/obj
/CSharpTipsAndTricks1/CSharpTipsAndTricks1.NullCoalescingAssignmentOperator/bin/Debug/net8.0
/CSharpTipsAndTricks1/CSharpTipsAndTricks1.NullCoalescingAssignmentOperator/obj
/CSharpTipsAndTricks1/CSharpTipsAndTricks1.PatternMatching/bin/Debug/net8.0
/CSharpTipsAndTricks1/CSharpTipsAndTricks1.PatternMatching/obj
/CSharpTipsAndTricks2/.vs
/CSharpTipsAndTricks2/CSharpTipsAndTrick2.RangeWithTake/obj
/CSharpTipsAndTricks2/CSharpTipsAndTrick2.UsingLetInLINQ/bin/Debug/net8.0
/CSharpTipsAndTricks2/CSharpTipsAndTrick2.UsingLetInLINQ/obj
/CSharpTipsAndTricks2/CSharpTipsAndTricks2.ArgumentNullCheck/bin/Debug/net8.0
/CSharpTipsAndTricks2/CSharpTipsAndTricks2.ArgumentNullCheck/obj
/CSharpTipsAndTricks2/CSharpTipsAndTricks2.Logic/bin/Debug/net8.0
/CSharpTipsAndTricks2/CSharpTipsAndTricks2.Logic/obj
/CSharpTipsAndTricks2/CSharpTipsAndTricks2.RemoveEmptySpacesWhenSplitting/bin/Debug/net8.0
/CSharpTipsAndTricks2/CSharpTipsAndTricks2.RemoveEmptySpacesWhenSplitting/obj
/CSharpTipsAndTricks2/CShartpTipsAndTricks2.FluentValidation/bin/Debug/net8.0
/CSharpTipsAndTricks2/CShartpTipsAndTricks2.FluentValidation/obj
